# List and it's Default Function

In [38]:
lst = ["lets upgrade", "python","batch",7,2,7,9,2020,[10,1,2,3,4]]

In [39]:
lst

['lets upgrade', 'python', 'batch', 7, 2, 7, 9, 2020, [10, 1, 2, 3, 4]]

In [10]:
# To find the place of item in the list

lst[0]

'lets upgrade'

In [15]:
lst[-1]

[10, 1, 2, 3, 4]

In [16]:
lst[-1][0]

10

In [19]:
# Append

lst.append(3)

In [20]:
lst

['lets upgrade', 'python', 'batch', 7, 2, 7, 9, 2020, [10, 1, 2, 3, 4], 3]

In [40]:
lst.append("hello")

In [41]:
lst

['lets upgrade',
 'python',
 'batch',
 7,
 2,
 7,
 9,
 2020,
 [10, 1, 2, 3, 4],
 'hello']

In [42]:
# extend

lst.extend(["too","good"])

In [43]:
lst

['lets upgrade',
 'python',
 'batch',
 7,
 2,
 7,
 9,
 2020,
 [10, 1, 2, 3, 4],
 'hello',
 'too',
 'good']

In [46]:
# pop


lst.pop(2)

'batch'

In [47]:
lst

['lets upgrade',
 'python',
 7,
 2,
 7,
 9,
 2020,
 [10, 1, 2, 3, 4],
 'hello',
 'too',
 'good']

In [48]:
# remove

lst.remove(2020)

In [49]:
lst

['lets upgrade',
 'python',
 7,
 2,
 7,
 9,
 [10, 1, 2, 3, 4],
 'hello',
 'too',
 'good']

In [51]:
# Index

lst.index("lets upgrade")

0

In [52]:
# Insert

lst.insert(0, "jupyter")

In [53]:
lst

['jupyter',
 'lets upgrade',
 'python',
 7,
 2,
 7,
 9,
 [10, 1, 2, 3, 4],
 'hello',
 'too',
 'good']

In [54]:
# Reverse

lst.reverse()

In [55]:
lst

['good',
 'too',
 'hello',
 [10, 1, 2, 3, 4],
 9,
 7,
 2,
 7,
 'python',
 'lets upgrade',
 'jupyter']

In [62]:
# Copy

lst1 = ["twenty"]
print(lst1)
print()

lst1 = lst.copy()

print (lst1)
print()
print (lst)

['twenty']

['good', 'too', 'hello', [10, 1, 2, 3, 4], 9, 7, 2, 7, 'python', 'lets upgrade', 'jupyter']

['good', 'too', 'hello', [10, 1, 2, 3, 4], 9, 7, 2, 7, 'python', 'lets upgrade', 'jupyter']

In [65]:
# Count (Total count of the given item )

lst.count("hello")

1

In [67]:
# Sort

lst = [1,5,88,45,32]

In [68]:
lst.sort()

In [69]:
lst

[1, 5, 32, 45, 88]

In [70]:
# Clear

lst.clear()

In [71]:
lst

[]

# Dictionaries

In [2]:
dit = {"Name": "Ashief V M", "Age": "20", "E-mail": "ashiefbava@gmail.com", "City": "Ooty", "State": "Tamil Nadu" }

In [3]:
dit

{'Name': 'Ashief V M',
 'Age': '20',
 'E-mail': 'ashiefbava@gmail.com',
 'City': 'Ooty',
 'State': 'Tamil Nadu'}

In [4]:
# get

dit.get('Name')

'Ashief V M'

In [5]:
# pop

print ("dit.pop('Age')")

dit

dit.pop('Age')

{'Name': 'Ashief V M',
 'Age': '20',
 'E-mail': 'ashiefbava@gmail.com',
 'City': 'Ooty',
 'State': 'Tamil Nadu'}

In [6]:
# items 

dit.items()

dict_items([('Name', 'Ashief V M'), ('Age', '20'), ('E-mail', 'ashiefbava@gmail.com'), ('City', 'Ooty'), ('State', 'Tamil Nadu')])

In [7]:
# keys

dit.keys()

dict_keys(['Name', 'Age', 'E-mail', 'City', 'State'])

In [8]:
# update

dit["Age"] = "19"

In [9]:
dit.update()

dit

{'Name': 'Ashief V M',
 'Age': '19',
 'E-mail': 'ashiefbava@gmail.com',
 'City': 'Ooty',
 'State': 'Tamil Nadu'}

In [10]:
# Values

dit.values()

dict_values(['Ashief V M', '19', 'ashiefbava@gmail.com', 'Ooty', 'Tamil Nadu'])

In [14]:
# set default


dit.setdefault('City')


dit

{'Name': 'Ashief V M',
 'Age': '19',
 'E-mail': 'ashiefbava@gmail.com',
 'City': 'Ooty',
 'State': 'Tamil Nadu',
 'city': None}

In [1]:
# Copy

In [12]:
dit.copy()

{'Name': 'Ashief V M',
 'Age': '19',
 'E-mail': 'ashiefbava@gmail.com',
 'City': 'Ooty',
 'State': 'Tamil Nadu',
 'city': None}

In [15]:
# Clear

dit.clear()

In [16]:
dit

{}

# Tuple

In [17]:
tup = ( "python", "@", "letsupgrade")

In [18]:
tup

('python', '@', 'letsupgrade')

In [19]:
# Count

tup.count("@")

1

In [21]:
# Index

tup.index("python")

0

# String

In [36]:
name0 = "Android Pie"
name1 = "Windows 10"
name2 = "linux"
name3 = "python"

In [37]:
name0

'Android Pie'

In [38]:
type(name)

str

In [39]:
Name = "name0" + " " + "name1" + " " + "name2" + " " + "name3"

In [40]:
Name

'name0 name1 name2 name3'

In [30]:
type(Name)

str

In [45]:
# 1 Find

Name.find(name0)

-1

In [51]:
# 2 Count

Name.count("name3")

1

In [58]:
# 3 index

Name.index("name2")

12

In [59]:
# 4 Upper

Name.upper()

'NAME0 NAME1 NAME2 NAME3'

In [61]:
# 5 Lower

Name.lower()

'name0 name1 name2 name3'